.banner{
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
}
.bannerText{
    position: relative;
    top: 100px;
    z-index: 20;
    text-align: center;
}